body{
    background-color: #000;
    font-family:"Montserrat", sans-serif; 
    overflow:hidden;
    margin:0;
}

.main{
    display: flex;
    height:100vh;
    padding: 0.5rem;
}

.sidebar{
    color:white;
    width:340px;
    border-radius: 1rem;
    background-color: black;
    margin-right: 0.5rem;
}

.main-content{
    color: white;
    overflow: auto;
    flex:1;
    border-radius: 1rem;
    background-color: #121212;
    padding: 0 1.5rem ;
}

.multi-player{
    color: white;
    position: fixed;
    bottom:0;
    width:100%;
    height:72px;
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100px;
    padding:0.5rem 0.75rem;
    background-color: #121212;
    border-radius: 1rem;
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding:0.5rem 0.75rem;
}

.nav-option:hover{
    opacity: 1;
}   

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.Library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding:0.5rem 0.75rem;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options img{
    width: 1.25rem;
    height: 1.25rem;
}

.icons{
    font-size: 1.25rem;
    display: flex;
}

.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover{
    opacity: 1;
}

.boxes .box{
    background-color: #232323;
    height:8rem;
    border-radius: 0.75rem;
    margin: 0.5rem 0 0.5rem 0;
    padding:0.75rem 1rem
}

.box-p1{
    font-size:1rem;
    font-weight: 500;
}

.box-p2{
    font-size:0.85rem;
    opacity:0.9;
}

.badge{
    background-color: #fff;
    border:none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    width:fit-content;
    height:2rem;
    color:#000;
}
.sticky-nav{
    position: sticky;
    top:0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0;
    z-index:10 ;
}
.nav-icons {
   margin-left: 0.75rem;
}

.nav-op{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.75rem;
}

.nav-op button{
    margin-right: 1rem;
}

@media(max-width:1000px)
{
    .hide{
        display: none;
    }
}

.card{
    background-color: #232323;
    width:150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.card-img{
    width:100%;
    border-radius: 0.5rem;
}

.card-title{
    font-weight: 600;
}

.card-info{
    font-size:0.85rem ;
    opacity: 0.8;
}

.footer{
    height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line
{
    width:90%;
    height:50%;
    border-top:1px solid white;
    opacity: 0.4;
}

.albums
{
    display: flex;
    margin-top:5px;
    width:25%;
}

.albums .b{
    width: 3.5rem;
    height: 3.5rem;
    margin: 3.5px 10px 3.5px 5px;
    border-radius: 3.5px;
}
.albums .a{
    width: 23px;
    height:24px;
    margin-top: 20px;
    margin-left: 15px;
}
.name{
    height: 100%;
    width: fit-content;
}
.name h4{
    margin:18px 0 0 0;
    font-size:small;
}
.name p{
    margin: 5px 0 0 0;
    font-size: x-small;
    opacity: 0.6;
}

.controls{
    width: 25%;
}
.controls img{
    width: 25px;
    height:30px;
    margin-top: 7px;
    margin-right: 5px;
    /* margin-left: 5px; */
}
.controls input[type="range"]{
    margin: 0;
    margin-right: 15px;
    background-color: #000;
    appearance: none;
}

.node::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.4rem;
}

.node::-webkit-slider-thumb{
    appearance: none;
    height:1rem;
    width:1rem;
    border-radius: 50%;
    margin-top: -6px;
    background-color: #1bd760;
}

.player{
    width: 50%;
}

.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icon{
    height:1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}

.player-control-icon:hover{
    opacity: 1;
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar{
    width:70% ;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height:1rem;
    width:1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -7px;
}